@mixin ModalBg($abs:null,$noneBg:null){
  @if($abs){
    position:absolute;
  }@else{
    position:fixed;
  }
  top:0;
  left:0;
  width:100%;
  height:100%;
  
  @if not $noneBg{
    @include coverBg();
  }
  @else{
    @include coverBg(0.1);
  }
}
