%z-list-item{
  @include FineBorder($whiteBetween:true);
  justify-content: space-between;
}

.cm-list-item{
  .cm-list-item-content{

    @extend %z-list-item;
  }
  .mat-icon{
    // color:$color-muted;
  }
}
.cm-nav-list-item{
  height:$cm-list-h !important;
  @extend .cm-list-item;
}
.z-list-item{
  @extend %z-list-item;
  padding:$z-list-padding;
  height:$cm-list-h !important;
  line-height:$cm-list-h;

}
.z-iconList-item{
  padding:$z-list-padding;
  height:$cm-list-h !important;
  line-height:$cm-list-h;
  display:flex;
  align-items:center;
  .icon{
    display:inline-block;
    width:$z-list-icon-w;
  }
  .content{
    display:inline-flex;
    flex:1;
    @include FineBorder();
  }
}

.cm-mini-container{
  @include Margin(5px,x);
  header{

  }
  dl{
    font-size:12px;
    @include Margin(5px,y);
  }
  label{
    color:$color-muted;
    margin-right:5px;
  }
}
.line-left{
  @include FineBorder($pos:left);
}
.line-right{
  @include FineBorder($pos:right);
}
.line-toggle{
    @include FineAllBorder($toggle:true,$bgColor:transparent);
}
.cm-title-shadow{
  @include TitleShadow();
}

.cm-exhibition-ul{  
  header{
    font-weight: bold;
    padding:$ex-header-p;
  }
  dl{
    @extend %none-margin;
    display:flex;
  }

  dl:first-of-type{
    @extend .line-toggle;
    &::before{
      border-color:$ex-border-color !important;
    }
  }
  dl:not(:first-of-type){
    @extend .cm-fine-bottom;
    &::before{
      background:$ex-border-color !important;
    }
    
  }
  dt,dd{
    @extend %none-margin;
    padding:$ex-ceil-p;
    font-size:$ex-size;
  }
  dt{
    color:$color-muted;
    @extend .line-right;
    width:$ex-dt-w;
    &::before{
      background:$ex-border-color !important;
    }
  }
  dd{
    width:$ex-dd-w;
    &.remake{
      background:rgb(251,251,251);
    }
  }

}
.cm-exhibition-ol{
  width:$ex-ol-w;
  font-size:$ex-ol-size;
  li{
    list-style-type:none;
    padding:$ex-ol-li-p;
    
    background:$color-light;
    &.active{
      background:$color-bg2;
      color:$color-primary;
    }
  }
}
.cm-exhibition-wrapper{
  padding:1rem;
}
.cm-ex-title{
  font-weight:bold;
  color:black;
  padding:$ex-title-p;
}
.cm-ex-list{
  @extend %z-list-item;
  padding:$ex-li-p;
  .cm-ex-list-label{
    color:$color-muted;
    font-size:12px;
  }
}
.cm-list-active{
  @include noneTap();
  user-select: none;
  transition:background-color .5s ease;
  &:active{
    background:$color-underline;
  }
}
.cu-list-title{
  background-color:$color-light;
  height:$cu-list-h;
  line-height: $cu-list-h;
  padding:$cu-list-p;
  color:$color-font2;
  .dsc{
    color:$color-font2-light;
    font-size:12px;
  }
}
.cu-list-more{
  line-height:$cu-list-h;
  padding:$cu-list-p;
  height:$cu-list-h;
  text-align: center;
  color:$color-blue;
  i{
    color:$color-blue;
  }
}

.cu-select-list{
  height:40px;
  line-height:40px;
  padding:0 20px;
  i{
    display:none;
  }
  &.active{
    color:$color-primary;
    i{
      display:inline-block;
      color:$color-primary;
    }
  }
}
