$utl:(
  size:12,
  v-line:14px
);
@function getUti($key){
  @return map-get($utl,$key);
}
$flex-count:6;
$base-size:5px;
$color-u-lt:lighten(#ddd,5%);
$percent-len:(
  5:5%,
  10:10%,
  15:15%,
  20:20%,
  25:25%,
  50:50%,
  75:75%,
  80:80%,
  100:100%
);
$font-size:(
  sm:12px,
  md:14px,
  lg:16px
);
$abs-pos:(
  t:top,
  l:left,
  r:right,
  b:bottom
);
$glob-pos:(
    t:top,
    b:bottom,
    l:left,
    r:right,
    x:x,
    y:y
);
$vertical-pos:(
  top:top,
  center:middle,
  bottom:bottom
);
$bezier-time:.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$bezier-quick:.2s cubic-bezier(0.645, 0.045, 0.355, 1);
