.cm-sort-btn{
  @extend %baseBtn;
  position:relative;
  color:inherit;
  @include Flex($self:center);
  font-size:12px;
  label{
    width:$search-btn-w;
  }
}
.cm-sort-wrapper{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  transform:translateY(100%);
  @include coverBg();
  overflow:hidden;
}
.cm-sort-wrapper-content{
  @include BaseFC();
  background-color:$color-bg2;

  overflow:hidden;
}
.cm-search-sort-item{
  @include NoneStyle();
  display:flex;
  @extend %z-list-item;
  padding:$search-list-padding;

  &:last-of-type{
    &::after{
      height:0;
    }
  }
  mat-icon{
    display:none;
  }
  &.active{
    color:$color-primary;
    mat-icon{
      display:inline-block;
    }
  }
}
